# Supabase
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=
# Direct connection to the database. Used for migrations.
DIRECT_URL=

# MinIo S3 Access
MINIO_ENDPOINT=s3.example.com
MINIO_SSL=true
MINIO_PORT=443
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=miniosecret
MINIO_BUCKET_NAME=boot